/*minha folha de estilo*/

.primeira_classe {
    margin: 12% auto;
    width: 80%;
    height: 300px;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
}

.classe_do_texto {
    display: flex;
    font-size: 40px;

}